name: Build for native architecture

on: [ push, pull_request ]

jobs:
  nativebuild:
    strategy:
      matrix:
        go-version: [ "1.18", "1.19", "1.20" ]
        platform: [ "ubuntu-latest" ]
    runs-on: ${{ matrix.platform }}
    steps:
    - name: Checkout code
      uses: actions/checkout@v3
    - name: Build containers
      run: make -f Makefile.all container GO_VERSION=${{ matrix.go-version }}
